<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Candidatos</title>
    </h:head>
    <h:body>
        #{inscricaoBean.candidato.cpf}
        <h:dataTable value="#{registroBean.candidatos}" var="c"
    			border="1" rules="all" cellpadding="4"
    	>
            
    	<h:column><f:facet name="header">CPF</f:facet><h:outputText value="#{c.cpf}"/></h:column>
    	<h:column><f:facet name="header">Nome</f:facet><h:outputText value="#{c.nome}"/></h:column>
        <h:column><f:facet name="header">Cidade</f:facet><h:outputText value="#{c.cidade}"/></h:column>
        <h:column><f:facet name="header">Estado</f:facet><h:outputText value="#{c.estado}"/></h:column>
    			
        </h:dataTable>
    </h:body>
</html>

